<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Temática</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">

        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="../index.html"> Inicio</a> </li>
                    <li> <a href="acercade.html"> Acerca de </a> </li>
                    <li> <a href="contacto.html"> Contacto </a> </li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>Chapultepec</h1>
                <span>SV</span>
            </div>
        </div>
    </header>
    <section class="personal container">
        <div class="personal-txt">
            <h2>Nuestro Personal</h2>
            <hr>
            <p>
                Nuestro personal esta a su disposicion y brindan un servicio de excelente calidad para los clientes,
                puedes encontartarlos por medio telefonico.
            </p>
        </div>
        <div class="personal-group">
            <div class="personal-1">
                <img src="../images/personalBar.jpg" alt="">
                <h3>Saul Hernadez</h3>
                <p>
                    Tel. 6625-8322
                </p>
            </div>

            <div class="personal-1">
                <img src="../images/personalbar2.jpg" alt="">
                <h3>Jorgue Cortez</h3>
                <p>
                    Tel. 6983-1222
                </p>
            </div>
            <div class="personal-1">
                <img src="../images/personalBar3.jpg" alt="">
                <h3>Adrian Santos</h3>
                <p>
                    Tel. 7704-8924
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-txt">
            <p>
                Contactanos
            </p>
        </div>
    </footer>
    <div class="header-dir">
        <div class="dir">
            <h3>Dirección</h3>
            <p>San Salvador Galerias, El Salvador</p>
        </div>
        <div class="dir">
            <h3>Telefono</h3>
            <p>7774-6527</p>
        </div>
        <div class="dir">
            <h3>Correo Electronico</h3>
            <p>BarChapultepecSV@gmail.com</p>
        </div>
        <div class="dir">
            <h3>Horario</h3>
            <p>4:30pm a 12:01am</p>
        </div>
    </div>
</body>
</html>